# ===== Python =====
venv/
ml_service/venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Environment =====
.env
Backend/.env

# ===== Node =====
node_modules/

# ===== Database =====
*.sqlite
*.db

# ===== OS =====
.DS_Store
Thumbs.db
